main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2em 0em;
}
.container{
    width: 90%;
    height: auto;
    background-color: $secondaryColor;
    display: flex;
    flex-direction:column ;
    align-items: center;
    border-radius: 1.2em;
    overflow: hidden;
    .img-color{
        width: 100%;
        height: 20em;
        background-image: url(https://scontent.fsal2-1.fna.fbcdn.net/v/t1.6435-9/238142742_104954165237484_7425805348977638302_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=fVK3y554a3EAX_E8OwD&_nc_oc=AQnqzcy9IOvupviSLDTbyobKwLbWnwIRSJmpS6klJgkmWVPVjnidikvRNlUUR2UHPp8&_nc_ht=scontent.fsal2-1.fna&oh=bfbc7ca34557247011fde901c4355eb5&oe=61427EE0);
        background-color: rgba(170,91,219,0.7);
        background-blend-mode: soft-light;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container-description{
        font-family: $inter;
        width: 80%;
        margin-top: 3em;
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .main-title{
            @include title;
            margin: 0.5em 0em 0em 0em;
            span{
                color: $thirdColor;
            }
        }
        
        .text{
            @include text;
            font-size: 1.7em;
            font-family: $inter;
            text-transform: none;
        }
    }
    .stats{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 2em 0em;
            &_item{
                margin: 0.8em 0em;
            }
            .title{
                @include title;
                margin: 0.25em 0em;
            }
            .text{
                @include text;
                margin: 0.4em 0em;
            }
    }
}