/*mediaqueries*/

@media (min-width:400px){
    main{
        .container{
            .img-color{
                height: 28em;
            }
        }
    }
}
@media (min-width:450px){
    main{
        .container{
            .img-color{
                height: 30em;
            }
        }
    }
}
@media (min-width:500px){
    main{
        height: 100vh;
        .container{
            .img-color{
                height: 32em;
            }
        }
    }
}
@media (min-width:550px){
    main{
        height: 100vh;
        .container{
            .img-color{
                height: 34em;
            }
        }
    }
}
@media (min-width:600px){
    main{
        .container{
            .img-color{
                height: 36em;
            }
        }
    }
}
@media (min-width:650px){
    main{
        .container{
            .img-color{
                height: 38em;
            }
        }
    }
}
@media (min-width:700px){
    main{
        .container{
            .img-color{
                height: 42em;
            }
            .textContainer{
                .container-description{
                    max-width: 70%;
                }
            }
        }
    }
}
@media (min-width:750px){
    main{
        .container{
            .img-color{
                height: 46em;
            }
        }
    }
}
@media (min-width:800px){
    main{
        .container{
            max-height: 43em;
            flex-direction: row;
            .img-color{
                background-image: url(https://i.imgur.com/y7Btes9.jpg);
                order: 2;
                max-width: 50%;
                height: 39.53rem;
            }
            .textContainer{
                order: 1;
                max-width: 50%;
                .container-description{
                    .main-title{
                        line-height: 3rem;
                    }
                }
                .stats{
                    flex-direction: row;

                    .stats_item{
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
                }
            }
        } 
    }
}
@media (min-width:1000px){
    main{
        .container{
            .textContainer{
                .container-description{
                    text-align: left;
                    .main-title{
                        font-size: 3.1em;
                    }
                }
                .stats{
                    flex-direction: row;
                    width: 70%;
                    .stats_item{
                        text-align: left;
                        margin: 0em 2em ;
                        h2{
                            font-size: 2.4em;
                        }
                    }
                    .one{
                        margin-left: 0rem;
                    }
                }
            }
        }
    }  
}
@media (min-width:1300px){
    main{
        .container{
            width: 90%;
            max-width: 115rem;
            min-height: 43rem;
            .img-color{
                height: 42rem;
            }
            .textContainer{
                max-width: 50%;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 7em;
                .container-description{
                    .main-title{
                        font-size: 3.2em;
                        margin-top: 0em;
                        line-height: 4rem;
                    }
                }
                .stats{
                    max-width: 70%;
                    margin-top: 10%;
                    flex-direction: row;
                    
                    .stats_item{
                        margin: 0em 4em ;
                        h2{
                            font-size: 2.7em;
                        }
                    }
                    .one{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}