/*mediaqueries*/

@media (min-width:400px){
    .container{
        .img-color{
            height: 25em;
        }
    }
}
@media (min-width:500px){
    main{
        height: 100vh;
        .container{
            .img-color{
                height: 30em;
            }
        }
    }
}
@media (min-width:600px){
    main{
        .container{
            .img-color{
                height: 35em;
            }
        }
    }
}
@media (min-width:700px){
    main{
        .container{
            .img-color{
                height: 40em;
            }
            .textContainer{
                .container-description{
                    max-width: 70%;
                }
            }
        }
    }
}
@media (min-width:800px){
    main{
        .container{
            flex-direction: row;
            .img-color{
                background-image: url(https://scontent.fsal2-1.fna.fbcdn.net/v/t1.6435-9/234767345_104954158570818_7044767241446625892_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=thm6u2ZQnDsAX_E3T7g&_nc_ht=scontent.fsal2-1.fna&oh=cdb902c42d43551d917db308a75351d7&oe=6143E11A);
                order: 2;
                max-width: 50%;
                height: 63.5em;
            }
            .textContainer{
                order: 1;
                max-width: 50%;
            }
        } 
    }
}
@media (min-width:1000px){
    main{
        .container{
            .textContainer{
                .container-description{
                    .main-title{
                        font-size: 3.1em;
                    }
                }
                .stats{
                    flex-direction: row;
                    .stats_item{
                        text-align: left;
                        margin: 0em 2em ;
                        h2{
                            font-size: 2.4em;
                        }
                    }
                }
            }
        }
    }  
}
@media (min-width:1300px){
    main{
        .container{
            width: 90%;
            max-width: 160em;
            height: 47vh;
            .img-color{
                height: 59em;
                max-width: 50%;
            }
            .textContainer{
                max-width: 50%;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 7em;
                .container-description{
                    text-align: left;
                    .main-title{
                        font-size: 3.7em;
                        margin-top: 0em;
                    }
                }
                .stats{
                    max-width: 70%;
                    margin-top: 10%;
                    flex-direction: row;
                    
                    .stats_item{
                        text-align: left;
                        margin: 0em 4em ;
                        h2{
                            font-size: 2.7em;
                        }
                    }
                    .one{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}